In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(25022025)

In [3]:
rank = pd.Series(['ace',2,3,4,5,6,7,8,9,10,'jack','queen','king'])

In [4]:
suit = pd.Series(['heart','spades','clubs','diamonds'])

In [5]:
deck = pd.merge(rank.rename('rank').to_frame(),suit.rename('suit').to_frame(),how='cross')
deck

     rank      suit
0     ace     heart
1     ace    spades
2     ace     clubs
3     ace  diamonds
4       2     heart
5       2    spades
6       2     clubs
7       2  diamonds
8       3     heart
9       3    spades
10      3     clubs
11      3  diamonds
12      4     heart
13      4    spades
14      4     clubs
15      4  diamonds
16      5     heart
17      5    spades
18      5     clubs
19      5  diamonds
20      6     heart
21      6    spades
22      6     clubs
23      6  diamonds
24      7     heart
25      7    spades
26      7     clubs
27      7  diamonds
28      8     heart
29      8    spades
30      8     clubs
31      8  diamonds
32      9     heart
33      9    spades
34      9     clubs
35      9  diamonds
36     10     heart
37     10    spades
38     10     clubs
39     10  diamonds
40   jack     heart
41   jack    spades
42   jack     clubs
43   jack  diamonds
44  queen     heart
45  queen    spades
46  queen     clubs
47  queen  diamonds
48   king     heart
49   king    spades
50   king     clubs
51   king  diamonds

In [6]:
def get_new_deck():
    rank = pd.Series(['ace',2,3,4,5,6,7,8,9,10,'jack','queen','king'])
    suit = pd.Series(['heart','spades','clubs','diamonds'])
    deck = pd.merge(rank.rename('rank').to_frame(),suit.rename('suit').to_frame(),how='cross')
    return deck

In [7]:
deck = get_new_deck()
hand = deck.sample(2,replace=False)
hand

     rank      suit
47  queen  diamonds
45  queen    spades

In [8]:
deck.drop(hand.index,axis = 'rows')

     rank      suit
0     ace     heart
1     ace    spades
2     ace     clubs
3     ace  diamonds
4       2     heart
5       2    spades
6       2     clubs
7       2  diamonds
8       3     heart
9       3    spades
10      3     clubs
11      3  diamonds
12      4     heart
13      4    spades
14      4     clubs
15      4  diamonds
16      5     heart
17      5    spades
18      5     clubs
19      5  diamonds
20      6     heart
21      6    spades
22      6     clubs
23      6  diamonds
24      7     heart
25      7    spades
26      7     clubs
27      7  diamonds
28      8     heart
29      8    spades
30      8     clubs
31      8  diamonds
32      9     heart
33      9    spades
34      9     clubs
35      9  diamonds
36     10     heart
37     10    spades
38     10     clubs
39     10  diamonds
40   jack     heart
41   jack    spades
42   jack     clubs
43   jack  diamonds
44  queen     heart
46  queen     clubs
48   king     heart
49   king    spades
50   king     clubs
51   king  diamonds

In [9]:
def draw_cards(n,deck):
    drawn = deck.sample(n,replace=False)
    deck = deck.drop(drawn.index)

    return drawn, deck

In [10]:
tup_a = (1,2,3)
a, b, c = tup_a
print(a,b,c)

1 2 3

In [11]:
hand_size = 5
deck = get_new_deck()
while len(deck) > hand_size:
    hand, deck = draw_cards(hand_size,deck)
    print(len(deck))

47
42
37
32
27
22
17
12
7
2

In [12]:
deck

  rank   suit
2  ace  clubs
8    3  heart

In [13]:
deck.set_index(['rank','suit']).shape

(2, 0)

In [21]:
deck = get_new_deck()
for i, card in deck.iterrows():
    break

In [22]:
i, card

(0,
 rank      ace
 suit    heart
 Name: 0, dtype: object)

In [23]:
i

0

In [24]:
card

rank      ace
suit    heart
Name: 0, dtype: object

In [27]:
deck = get_new_deck()
for card_plus_tuple in deck.iterrows():
    break

In [28]:
card_plus_tuple

(0,
 rank      ace
 suit    heart
 Name: 0, dtype: object)

In [29]:
i, card = card_plus_tuple

In [30]:
card

rank      ace
suit    heart
Name: 0, dtype: object

In [14]:
def score_hand(hand):
    score = 0
    aces = hand.loc[hand['rank']=='ace']
    rest = hand.loc[hand['rank'] != 'ace']
    for _, card in rest.iterrows():
        if type(card['rank']) == int:
            score += card['rank']
        elif type(card['rank']) == str:
            score += 10
    
    for _, card in aces.iterrows():
        if score + 11 > 21:
            score += 1
        else:
            score += 11
    
    return score

In [15]:
hand

   rank      suit
30    8     clubs
35    9  diamonds
3   ace  diamonds
23    6  diamonds
10    3     clubs

In [16]:
score_hand(hand)

27

In [17]:
score = 0
while True:
    score += 3
    if score > 50:
        break
    # will not be executed on the last loop
    # foo(bar)

In [ ]:
deck = get_new_deck()
running_score = 0
while len(deck) > hand_size:
    hand, deck = draw_cards(hand_size, deck)
    if 'ace' in hand['rank']:
        continue
    running_score += score_hand(hand)

In [20]:
while True:
    if True:
        pass
    if False:
        pass

KeyboardInterrupt:

In [31]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [ ]:
num_trials = 50

trial_results = []

for i in range(num_trials):
    deck = get_new_deck()
    score = play_hand(deck)
    trial_results.append(score)

plt.hist(trial_results)

In [33]:
def play_hand(deck):
    hand, deck = draw_cards(2, deck)

    # write here
    # define whether you take an extra card
    condition = False
    if a: #fill in here, do you take an extra card
        condition = True

    while condition:
        drawn_card, deck = draw_cards(1,deck)
        hand = pd.concat([hand,drawn_card])

        if b: # you fill in here, when do you stop taking more?
            condition = False
    
    score = score_hand(hand)
    if score > 21:
        score = 0
    return score