In [3]:
import numpy as np
import pandas as pd

from taigapy import create_taiga_client_v3

In [5]:
tc = create_taiga_client_v3()

In [8]:
flights = tc.get('nycflights-2013-b1ae.1/flights')

In [9]:
flights

        year  month  day  dep_time  ...  distance  hour  minute            time_hour
0       2013      1    1     517.0  ...      1400     5      15  2013-01-01 05:00:00
1       2013      1    1     533.0  ...      1416     5      29  2013-01-01 05:00:00
2       2013      1    1     542.0  ...      1089     5      40  2013-01-01 05:00:00
3       2013      1    1     544.0  ...      1576     5      45  2013-01-01 05:00:00
4       2013      1    1     554.0  ...       762     6       0  2013-01-01 06:00:00
...      ...    ...  ...       ...  ...       ...   ...     ...                  ...
336771  2013      9   30       NaN  ...       213    14      55  2013-09-30 14:00:00
336772  2013      9   30       NaN  ...       198    22       0  2013-09-30 22:00:00
336773  2013      9   30       NaN  ...       764    12      10  2013-09-30 12:00:00
336774  2013      9   30       NaN  ...       419    11      59  2013-09-30 11:00:00
336775  2013      9   30       NaN  ...       431     8      40  2013-09-30 08:00:00

[336776 rows x 19 columns]